@import url(../css/reset.css);
@import url(../css/fonts.css);
@import url(../css/global.css);
@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/swiper-bundle.min.css);
.main__hero {
  padding: 136px 0 80px;
}
@media (max-width: 900px) {
  .main__hero {
    padding: 90px 0 53px;
  }
}

.main__advantages {
  min-height: 508px;
}
@media (max-width: 900px) {
  .main__advantages {
    padding-bottom: 80px;
  }
}

.main__projects {
  padding: 72px 0 86px;
  background: #f0eeee;
}

.main__repairs {
  padding: 80px 0;
}

.main__question {
  background: #f0eeee;
  padding: 78px 0;
}

.main__clients {
  padding: 80px 0;
}

.main__order {
  background: #F0EEEE;
  padding: 70px 0 100px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 870px;
}
.hero__title {
  padding-bottom: 24px;
}
.hero__title span {
  color: var(--color-accent);
}
@media (max-width: 800px) {
  .hero__title {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  .hero__title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 8vw;
  }
}
.hero__text {
  color: #000;
  margin-bottom: 48px;
  text-decoration: none;
}
.hero__btn {
  padding: 17px 27px 17px 26px;
  background: var(--color-accent);
  color: var(--color-wite);
  font-weight: 700;
  margin-bottom: 80px;
  max-width: 280px;
}
@media (max-width: 600px) {
  .hero__btn {
    margin-bottom: 40px;
  }
}
.hero__img {
  max-height: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.hero__img img {
  width: 100%;
  max-height: 100%;
}

.advantages_title {
  padding-bottom: 32px;
}
@media (max-width: 900px) {
  .advantages_title {
    padding-bottom: 0px;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .tabs {
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .tabs {
    display: none;
  }
}
.tabs__link {
  width: 274px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  white-space: nowrap;
}
.tabs__link:hover {
  background: var(--color-accent);
  color: var(--color-wite);
}
.tabs__link--activ {
  background: var(--color-accent);
  color: var(--color-wite);
}

.tabs-content {
  display: none;
  width: 100%;
  padding-bottom: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 900px) {
  .tabs-content {
    padding-bottom: 17px;
  }
}
.tabs-content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 900px) {
  .tabs-content__top {
    display: none;
  }
}
.tabs-content__link {
  color: var(--color-accent);
}
@media (max-width: 900px) {
  .tabs-content__link {
    display: none;
  }
}

.card {
  padding: 56px 102px 40px 0;
}
@media (max-width: 1150px) {
  .card {
    padding-right: 30px;
  }
}
@media (max-width: 1150px) {
  .card {
    padding-right: 30px;
  }
}
@media (max-width: 900px) {
  .card {
    padding: 40px 0 0;
  }
}
.card__title {
  font-weight: 900;
  color: #000;
  padding-bottom: 16px;
}
.card__text {
  color: #000;
}

.tabs-content--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion {
  padding-top: 17px;
  display: none;
}
@media (max-width: 900px) {
  .accordion {
    display: block;
  }
}
.accordion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 17px 40px 17px 33px;
  background: #f0eeee;
}
@media (max-width: 600px) {
  .accordion__title {
    padding: 17px 23px 17px 18px;
    gap: 10px;
  }
}
.accordion__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 0 30px 23px;
}
@media (max-width: 600px) {
  .accordion__content {
    padding: 0 0 23px;
  }
}
.accordion__content p {
  padding-bottom: 24px;
}
.accordion__link {
  padding: 40px 0 47px;
}

.active .accordion__title {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: var(--color-accent);
  color: var(--color-wite);
}

.active .accordion__content {
  max-height: 700px;
}

.active .accordion__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.active .accordion__icon path {
  stroke: #fff;
}

.projects__top {
  padding-bottom: 40px;
}
.projects__top-title {
  padding-bottom: 16px;
}
.projects__top-text {
  color: var(--color-second-text);
  line-height: 1.5;
}
.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.projects__prev {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 102px;
  max-height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 800px) {
  .projects__prev {
    display: none;
  }
}
.projects__swiper {
  width: 100%;
}
.projects__slide img {
  width: 100%;
}
.projects__foto {
  display: none;
}
.projects__next {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 102px;
  max-height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 800px) {
  .projects__next {
    background: transparent;
    position: absolute;
    z-index: 2;
    right: -10px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.projects__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  line-height: 1.5;
  padding: 25px 102px 0;
}
@media (max-width: 1000px) {
  .projects__bottom {
    padding: 25px 30px 0;
  }
}
@media (max-width: 600px) {
  .projects__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
    padding: 25px 10px 0;
  }
}
.projects__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-bottom: 23px;
  z-index: 2;
}
.projects__pagination span {
  width: 8px;
  height: 8px;
  border-radius: 0;
  background: #fff;
  opacity: 1;
}
@media (max-width: 800px) {
  .projects__pagination {
    margin-bottom: 20px;
  }
}
.projects__pagination-fractal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 42px;
  margin-right: 62px;
}
@media (max-width: 900px) {
  .projects__pagination-fractal {
    margin-right: 30px;
  }
}
.projects__bottom-text {
  padding-bottom: 16px;
  /* 150% */
}
.projects__specification {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 66px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 900px) {
  .projects__specification {
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .projects__specification {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .projects__specification {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .projects__specification-text {
    width: auto;
  }
}
.projects__specification-text p {
  color: #000;
  font-weight: 900;
  line-height: 1.5;
}

span.swiper-pagination-bullet-active {
  width: 32px;
  background: var(--color-accent);
  opacity: 1;
}

.projects__nav-tabs {
  display: none;
}
.projects__tab-pane {
  display: none;
}
.projects__tab--active {
  color: var(--color-accent);
}

.projects__tab--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repairs__title {
  padding-bottom: 32px;
}
.repairs__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 102px;
}
@media (max-width: 1000px) {
  .repairs__top {
    gap: 50px;
  }
}
@media (max-width: 600px) {
  .repairs__top {
    gap: 0;
    grid-template-columns: 1fr;
  }
}
.repairs__top-text {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.repairs__top-text span {
  color: var(--color-footer);
  font-size: 36px;
}
@media (max-width: 700px) {
  .repairs__top-text span {
    padding-top: 32px;
  }
}
@media (max-width: 700px) {
  .repairs__top-text {
    padding-bottom: 35px;
  }
}
.repairs__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 102px;
  padding-top: 80px;
}
@media (max-width: 1000px) {
  .repairs__content {
    gap: 50px 50px;
  }
}
@media (max-width: 700px) {
  .repairs__content {
    gap: 66px;
    grid-template-columns: 1fr;
  }
}

.block__img {
  margin-bottom: 24px;
  width: 100%;
}
.block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-footer);
  text-decoration: none;
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .block__title {
    font-size: 20px;
  }
}
.block__text {
  padding-bottom: 24px;
  color: var(--color-second-text);
  line-height: 1.5;
}
.block__link {
  color: var(--color-accent);
  border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
}

.question__title {
  -webkit-text-decoration: underline hsla(15, 87%, 55%, 0.5);
          text-decoration: underline hsla(15, 87%, 55%, 0.5);
  color: var(--color-accent);
  display: inline-block;
}

.clients__title {
  padding-bottom: 16px;
}
.clients__text {
  padding-bottom: 48px;
  color: var(--color-second-text);
  line-height: 1.5;
}
.clients__content {
  padding-bottom: 56px;
}
.clients__wrapper {
  max-height: 325px;
}
.clients__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__slide img {
  width: 100%;
}
.clients__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__link path {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.clients__slide-play {
  position: absolute;
}
.clients__link:hover path {
  fill: var(--color-accent);
}

.order__slide {
  height: auto;
}
.order__title {
  padding-bottom: 35px;
}
.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 76px;
}
.order__area {
  margin-right: 134px;
}
.order__text {
  padding-bottom: 31px;
  color: #191919;
}
.order__area-input {
  background: transparent;
  border-bottom: 1px solid hsla(0, 0%, 60%, 0.5);
  font-size: 24px;
  max-width: 140px;
}
.order__rooms {
  margin-right: 94px;
}
.order__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__tabs-link {
  padding: 17.5px 26px;
  border: 1px solid transparent;
}
.order__tabs-link--activ {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}
.order__tabs-content {
  display: none;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}
.order__tabs-content--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__slide-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.order__slide-prev {
  padding: 17px;
  width: 172px;
  background: var(--color-footer);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.order__slide-next {
  padding: 17px;
  width: 172px;
  background: var(--color-accent);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.order__slide-text {
  color: #CCC;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-disabled {
  background: #CCC;
}

.select__text {
  padding-bottom: 31px;
}
.select__btns-link {
  color: #000;
  font-size: 24px;
  padding: 17px 23px 18px 24px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.select__btns-activ {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}
.select__btns-link:hover {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.form_one--activ {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.form_two--activ {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.form_three--activ {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.order__content--show {
  display: block;
}
.order__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.estimate__title {
  padding-bottom: 35px;
}
.estimate__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding-bottom: 98px;
}
.estimate__price-text {
  padding-bottom: 16px;
}
.estimate__price-title {
  font-weight: 400;
}
.estimate__calculation-title {
  padding-bottom: 17px;
  color: var(--color-accent);
}
.estimate__calculation-text {
  color: var(--color-footer);
  padding-bottom: 50px;
}
.estimate__calculation-link {
  padding-bottom: 66px;
}
.estimate__lable input {
  background: transparent;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5019607843);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-bottom: 64px;
  font-size: 24px;
  max-width: 478px;
  width: 100%;
}
.estimate__lable input:hover {
  border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
}
.estimate__lable input:focus {
  border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
}
.estimate__lable p {
  padding-bottom: 18px;
  line-height: 1.5;
}
.estimate__lable span {
  display: block;
  color: var(--color-second-text);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25;
  margin-top: -52px;
  padding-bottom: 64px;
}
.estimate__download {
  padding-bottom: 55px;
}
.estimate__download-text {
  color: var(--color-second-text);
  font-size: 12px;
  line-height: 1.5;
}
.estimate__btn {
  background: var(--color-second-text);
  color: var(--color-wite);
  margin-bottom: 32px;
}
.estimate__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.estimate__text p {
  color: var(--color-second-text);
  line-height: 1.5;
  /* 150% */
}
.estimate__text a {
  color: var(--color-accent);
  line-height: 1.5;
}