:root {
	--color-bg-second: #f0eeee;
	--color-accent: #f05a26;
	--color-second-text: #999;
	--color-footer: #191919;
	--color-title: #000;
	--color-wite: #fff;
	--transition: all 0.4s;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
}

.body {
	font-family: Inter, sans-serif;
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}

h1 {
	color: #000;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.btn {
	height: 56px;
	max-width: 274px;
	width: 100%;
	padding: 17px 30px 17px 25px;
	background: #f0eeee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	color: #191919;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.title {
	color: #191919;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	@media (max-width: 600px) {
		font-size: 30px;
	}
}

.accent-text {
	color: #f05a26;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: underline hsla(15, 87%, 55%, 0.5);
	display: inline-block;

	@media (max-width: 600px) {
		font-size: 20px;
	}
}
input::placeholder{
	color: var(--color-second-text);
}

.body--opened-menu {
	overflow: hidden;
}

.body--modal-opened {
	overflow: hidden;
}

.modal-call {
	position: fixed;
	inset: 0;
	z-index: 12;
	background: hsla(0, 0%, 0%, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
	// .modal-call__window

	&__window {
		max-width: 650px;

		position: relative;
		padding: 74px 84px 115px 87px;
		display: flex;
		flex-direction: column;
		background: var(--color-wite);

		@media (max-width: 600px) {
			padding: 74px 50px 50px;
			margin: 10px;
		}

		@media (max-width: 400px) {
			padding: 74px 20px 20px;
		}
	}

	// .modal-call__close-btn

	&__close-btn {
		color: #000;
		font-size: 48px;
		font-weight: 700;
		display: flex;
		width: 33px;
		position: absolute;
		top: 16px;
		right: 32px;
		cursor: pointer;
	}

	// .modal-call__title

	&__title {
		color: var(--color-accent);
		padding-bottom: 80px;
	}

	// .modal-call__form

	// .modal-call__lable

	&__lable {
		input {
			border-bottom: 1px solid #99999980;
			transition: var(--transition);
			margin-bottom: 80px;
			font-size: 24px;
			width: 100%;
		}

		input:hover {
			border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
		}

		input:focus {
			border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
		}

		span {
			display: block;
			color: var(--color-second-text);
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 2.25;
			margin-top: -52px;
			padding-bottom: 64px;
		}
	}

	&__btn {
		background: var(--color-second-text);
		color: var(--color-wite);
		margin-bottom: 32px;
	}

	// .modal-call__text

	&__text {
		p {
			color: var(--color-second-text);
			line-height: 1.5;
			/* 150% */
		}

		a {
			color: var(--color-accent);
			line-height: 1.5;
		}
	}
}

.body--modal-opened .modal-call {
	opacity: 1;
	visibility: visible;
}