:root {
  --color-bg-second: #f0eeee;
  --color-accent: #f05a26;
  --color-second-text: #999;
  --color-footer: #191919;
  --color-title: #000;
  --color-wite: #fff;
  --transition: all 0.4s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

.body {
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.btn {
  height: 56px;
  max-width: 274px;
  width: 100%;
  padding: 17px 30px 17px 25px;
  background: #f0eeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #191919;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #191919;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}

.accent-text {
  color: #f05a26;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-text-decoration: underline hsla(15, 87%, 55%, 0.5);
          text-decoration: underline hsla(15, 87%, 55%, 0.5);
}
@media (max-width: 600px) {
  .accent-text {
    font-size: 20px;
  }
}

.body--opened-menu {
  overflow: hidden;
}

.body--modal-opened {
  overflow: hidden;
}

.modal-call {
  position: fixed;
  inset: 0;
  z-index: 12;
  background: hsla(0, 0%, 0%, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.modal-call__window {
  max-width: 650px;
  position: relative;
  padding: 74px 84px 115px 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-wite);
}
@media (max-width: 600px) {
  .modal-call__window {
    padding: 74px 50px 50px;
    margin: 10px;
  }
}
@media (max-width: 400px) {
  .modal-call__window {
    padding: 74px 20px 20px;
  }
}
.modal-call__close-btn {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33px;
  position: absolute;
  top: 16px;
  right: 32px;
  cursor: pointer;
}
.modal-call__title {
  color: var(--color-accent);
  padding-bottom: 64px;
}
.modal-call__lable input {
  border-bottom: 1px solid rgba(153, 153, 153, 0.5019607843);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-bottom: 64px;
  font-size: 24px;
  width: 100%;
}
.modal-call__lable input:hover {
  border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
}
.modal-call__lable input:focus {
  border-bottom: 1px solid hsla(15, 87%, 55%, 0.5);
}
.modal-call__lable p {
  padding-bottom: 18px;
  line-height: 1.5;
}
.modal-call__lable span {
  display: block;
  color: var(--color-second-text);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25;
  margin-top: -52px;
  padding-bottom: 64px;
}
.modal-call__btn {
  background: var(--color-second-text);
  color: var(--color-wite);
  margin-bottom: 32px;
}
.modal-call__text p {
  color: var(--color-second-text);
  line-height: 1.5; /* 150% */
}
.modal-call__text a {
  color: var(--color-accent);
  line-height: 1.5;
}

.body--modal-opened .modal-call {
  opacity: 1;
  visibility: visible;
}